// Base styling for the topnav

.sb-topnav {
  padding-left: 0;
  height: $topnav-base-height;
  z-index: $zindex-topnav;
  .navbar-brand {
    color:#84A98C;
      width: $sidenav-base-width;
      padding-left: $navbar-padding-x;
      padding-right: $navbar-padding-x;
      margin: 0;
  }
  &.navbar-dark {
      #sidebarToggle {
          color:#84A98C ;
        
      }
  }
  &.navbar-light {
      #sidebarToggle {
          color:#84A98C ;
      }
  }
}
